<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="wtT5cfUJTByLd9bbnENtsZQZG26ZuLv_d979QnrRMBQ" />
    <title>Orka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
